{% extends is_hr|yesno:"hr_base.html,employee_base.html" %}
{% load static %}
{% block content %}
{% load bootstrap4 %}
{% bootstrap_css %}
        {% bootstrap_javascript %}

<head>
    <meta charset="UTF-8">
    <title>Edit-company-profile</title>
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js'></script>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        body {
    background: #607d8b87
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: #607d8b87;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #337AB7
}

.profile-button:focus {
    background: grey;
    box-shadow: none
}

.profile-button:active {
    background: grey;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}
    </style>

</head>
<body>
<form action="" method="POST">
    {% csrf_token %}
<div class="container rounded bg-white mt-5" style="margin-top:20px; ">
    <div class="row">
        <div class="col-md-4 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" src="/media/{{profile_pics.profile_pic}}" width="90" height="90"><span class="font-weight-bold">ID : {{profile_pics.user.username}}</span>
                <span class="text-black-50">{{profile_pics.department}}</span><span>{{profile_pics.designation}}</span>

            </div>

        </div>

        <div class="col-md-8">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="d-flex flex-row align-items-center back"></i>
                        <h6><a href="/profile/{{user.username}}"> <div class="mt-5 text-right"><button class="btn btn-primary profile-button" type="submit">Back</button></a></h6>
                    </div>
                    <h6 class="text-right">Update Personal Info</h6>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><input type="text" class="form-control" placeholder="Adhar Card no:" value="{{info.adhar_card_no}}" name="aadharno" required></div>
                    <div class="col-md-6"><input type="text" class="form-control" value="{{info.nationality}}" placeholder="Nationality" name="nationality" required></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><input type="text" class="form-control" placeholder="Religion" value="{{info.religion}}" name="religion" required></div>&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="row-mt-3">
                    <div class="dropdown" title="meritalstatus">
                        <select name="meritalstatus" class="btn btn-secondary dropdown-toggle" title="merital status">
            <option value="Married">Married</option>
            <option value="UnMarried" >UnMarried</option>
    </select>

                        </div>
                </div>


                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><input type="text" class="form-control" placeholder="Email" value="{{info.email_id}}" name="email" required></div>
                    <div class="col-md-6"><input type="text" class="form-control" placeholder="Mobile No" value="{{info.contact_no}}" name="mobileno" required></div>

                </div>
                <h4>Emergency Contact :</h4>
                <div class="row mt-3">
                    <div class="col-md-6"><input type="text" class="form-control" placeholder="Guardian Name" value="{{info.guardian_name}}" name="gardianname" required></div>
                    <div class="col-md-6"><input type="text" class="form-control" placeholder="Relationship" value="{{info.relationship}}" name="relationship" required></div>

                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><input type="text" class="form-control" placeholder="Guardian contact no" value="{{info.guardian_contact}}" name="conttactno" required></div>


                </div>
                <div class="mt-5 text-right"><button class="btn btn-primary profile-button" type="submit">Save Changes</button></div>
            </div>
        </div>
    </div>
</div>
    </form>
</body>
{% endblock content %}
