{% extends is_hr|yesno:"hr_base.html,employee_base.html" %}
{% load static %}
{% block content %}
{% load bootstrap4 %}
{% bootstrap_css %}
        {% bootstrap_javascript %}

<head>
    <meta charset="UTF-8">
    <title>Edit-company-profile</title>
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js'></script>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        body {
    background: #607d8b87
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: #607d8b87;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #337AB7
}

.profile-button:focus {
    background: grey;
    box-shadow: none
}

.profile-button:active {
    background: grey;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}
    </style>

</head>
<body>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
<div class="container rounded bg-white mt-5" style="margin-top:20px; ">
    <div class="row">
        <div class="col-md-4 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" src="/media/{{info.profile_pic}}" width="90" height="90"><span class="font-weight-bold">{{info.user.username}}</span>
                <span class="text-black-50">{{info.department}}</span><span>{{info.designation}}</span>
            <div class="custom-file">
<!--    <input type="file" class="custom-file-input" id="customInput" name="profilepic" accept="image/*">-->
<!--    <label class="custom-file-label" for="customInput">Update Profile pic....</label>-->
                {{p_form}}
</div>
            </div>

        </div>

        <div class="col-md-8">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="d-flex flex-row align-items-center back"></i>
                        <h6><a href="/profile/{{user.username}}"> <div class="mt-5 text-right"><button class="btn btn-primary profile-button" type="submit">Back</button></a></h6>
                    </div>
                    <h6 class="text-right">Edit Profile</h6>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><input type="text" class="form-control" placeholder="First Name" value="{{info.user.first_name}}" name="firstname" required></div>
                    <div class="col-md-6"><input type="text" class="form-control" value="{{info.user.last_name}}" placeholder="Last Name" name="lastname" required></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><input type="text" class="form-control" placeholder="Email" value="{{info.email}}" disabled></div>
                    <div class="col-md-6"><input type="text" class="form-control" value="{{info.mobile}}" placeholder="Phone number" disabled></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><input type="text" class="form-control" placeholder="Address" value="{{info.address}}" name="address" required></div>
                    <div class="col-md-6"><input type="text" class="form-control" placeholder="Reports to" value="Reports To: {{info.reports_to}}" disabled></div>

                </div>
                <br>
                <div class="row-mt-3">
                    <div class="dropdown" title="gender">
                        <select name="gender" class="btn btn-secondary dropdown-toggle" title="gender">
            <option value="Male">Male</option>
            <option value="FeMale" >Female</option>
            <option value="Othetr">Other</option>
    </select>

                        </div>
                </div>
                <div class="mt-5 text-right"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>
            </div>
        </div>
    </div>
</div>
    </form>
</body>
{% endblock content %}
