{% extends 'employee_base.html' %}
{% load static %}
{% block content %}
{%include 'employee_dashboard_card.html'%}

<div class="market-updates">
    <div class="col-md-4 market-update-gd">
      <div class="market-update-block clr-block-1">
        <div class="col-md-8 market-update-left">
          <h3>{{total_noti}}</h3>
          <h3>Notification</h3>
        </div>
        <div class="col-md-4 market-update-right">
          <i class="fa fa-user-o"> </i>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="col-md-4 market-update-gd">
      <div class="market-update-block clr-block-2">
        <div class="col-md-8 market-update-left">
          <h3>99%</h3>
          <h4>Your Attendance</h4>
        </div>
        <div class="col-md-4 market-update-right">
          <i class="fa fa-info-circle"></i>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="col-md-4 market-update-gd">
      <div class="market-update-block clr-block-3">
        <div class="col-md-8 market-update-left">
          <h3>{{total_tasks}}</h3>
          <h4>Task</h4>
        </div>
        <div class="col-md-4 market-update-right">
          <i class="fa fa-mobile" aria-hidden="true"></i>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>



  <br><br><br>



  <div class="row gutters-sm">
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Latest Notifications</th>



    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">You Have to update your profile properly <b>From</b> HR </td>


    </tr>
    <tr>
      <td scope="row">Passport Ex</td>


    </tr>
    <tr>
      <td scope="row">name</td>

    </tr>
  </tbody>
</table>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Your Leaves</th>


    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" style="text-align:center;"><h1>0</h1><br>Taken</th>
      <td>|</td>
      <th style="text-align:center;"><h1>0</h1><br>Remaining</th>

    </tr>


  </tbody>
</table>
                  </div>
                </div>
              </div>



{% endblock content %}
