{% extends 'hr_base.html' %}
{% load static %}
{% block content %}
{%include 'hr_dashboard_card.html'%}
<div class="market-updates">
    <div class="col-md-4 market-update-gd">
      <div class="market-update-block clr-block-1">
        <div class="col-md-8 market-update-left">
          <h3>{{employee}}</h3>
          <h4>Total Employee</h4>
        </div>
        <div class="col-md-4 market-update-right">
          <i class="fa fa-user-o"> </i>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="col-md-4 market-update-gd">
      <div class="market-update-block clr-block-2">
        <div class="col-md-8 market-update-left">
          <h3>{{deactivated_employee}}</h3>
          <h4>Deactivated Employee</h4>

        </div>
        <div class="col-md-4 market-update-right">
          <i class="fa fa-user-o"></i>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="col-md-4 market-update-gd">
      <div class="market-update-block clr-block-3">
        <div class="col-md-8 market-update-left">
          <h3>{{total_noti}}</h3>
          <h4>Notification</h4>
        </div>
        <div class="col-md-4 market-update-right">
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
<br><br><br><br>
<div class="row gutters-sm">
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Latest Notifications</th>



    </tr>
  </thead>
  <tbody>
  {% for i in notifications %}
    <tr>
      {% if i.type == "task_assigned" %}
      <td scope="row">Task : {{i.assigned_by}} ({{i.assigned_by.first_name}} {{i.assigned_by.last_name}}) Assigned to you : <a href="/task/{{i.task_id.id}}">{{i.task_id.task_subject}}</a>   <span class="badge badge-pill badge-danger" style="background-color:red">New</span></td>
      {% elif i.type == "task_comment" %}
      <td >Task : {{i.assigned_by}} ({{i.assigned_by.first_name}} {{i.assigned_by.last_name}}) Commented on Task : <a href="/task/{{i.task_id.id}}">{{i.task_id.task_subject}}</a>  <span class="badge badge-pill badge-danger" style="background-color:red">New</span></td></td>
      {% elif i.type == "task_complete" %}
      <td >Task : {{i.assigned_to}} ({{i.assigned_to.first_name}} {{i.assigned_to.last_name}}) completed Task : <a href="/task/{{i.task_id.id}}">{{i.task_id.task_subject}}</a>  <span class="badge badge-pill badge-danger" style="background-color:red">New</span></td></td>
      {% endif %}

    </tr>
    {% endfor %}
  {% for i in seen_notifications|slice:":5" %}
    <tr>
      {% if i.type == "task_assigned" %}
      <td scope="row">Task : {{i.assigned_by}} ({{i.assigned_by.first_name}} {{i.assigned_by.last_name}}) Assigned to you : <a href="/task/{{i.task_id.id}}">{{i.task_id.task_subject}}</a>  </td>
      {% elif i.type == "task_comment" %}
      <td >Task : {{i.assigned_by}} ({{i.assigned_by.first_name}} {{i.assigned_by.last_name}}) Commented on Task : <a href="/task/{{i.task_id.id}}">{{i.task_id.task_subject}}</a></td></td>
      {% elif i.type == "task_complete" %}
      <td >Task : {{i.assigned_to}} ({{i.assigned_to.first_name}} {{i.assigned_to.last_name}}) completed Task : <a href="/task/{{i.task_id.id}}">{{i.task_id.task_subject}}</a> </td></td>
      {% endif %}

    </tr>
    {% endfor %}
  </tbody>
</table>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Your Leaves</th>


    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" style="text-align:center;"><h1>0</h1><br>Taken</th>
      <td>|</td>
      <th style="text-align:center;"><h1>0</h1><br>Remaining</th>

    </tr>


  </tbody>
</table>
                  </div>
                </div>
              </div>
<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="panel panel-primary" style="margin-left:15%;">-->
<!--      <div class="panel-heading" style="text-align:center;">-->
<!--        <h6 class="panel-title">Recent Appointments For You</h6>-->
<!--      </div>-->
<!--      <table class="table table-hover" id="dev-table">-->
<!--        <thead>-->
<!--          <tr>-->
<!--            <th>Patient Name</th>-->
<!--            <th>Picture</th>-->
<!--            <th>Description</th>-->
<!--            <th>Mobile</th>-->
<!--            <th>Address</th>-->
<!--            <th>Date</th>-->
<!--          </tr>-->
<!--        </thead>-->
<!--        {% for a,p in appointments %}-->
<!--        <tr>-->
<!--          <td>{{a.patientName}}</td>-->
<!--          <td> <img src="{% static p.profile_pic.url %}" alt="Profile Pic" height="40px" width="40px" /></td>-->
<!--          <td>{{a.description}}</td>-->
<!--          <td>{{p.mobile}}</td>-->
<!--          <td>{{p.address}}</td>-->
<!--          <td>{{a.appointmentDate}}</td>-->
<!--        </tr>-->
<!--        {% endfor %}-->
<!--      </table>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

{% endblock content %}
