{% extends 'hr_base.html' %}
{% load static %}
{% block content %}
{%include 'hr_dashboard_card.html'%}
<div class="market-updates">
    <div class="col-md-4 market-update-gd">
      <div class="market-update-block clr-block-1">
        <div class="col-md-8 market-update-left">
          <h3>{{employee}}</h3>
          <h4>Total Employee</h4>
        </div>
        <div class="col-md-4 market-update-right">
          <i class="fa fa-user-o"> </i>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="col-md-4 market-update-gd">
      <div class="market-update-block clr-block-2">
        <div class="col-md-8 market-update-left">
          <h3>{{deactivated_employee}}</h3>
          <h4>Deactivated Employee</h4>

        </div>
        <div class="col-md-4 market-update-right">
          <i class="fa fa-user-o"></i>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="col-md-4 market-update-gd">
      <div class="market-update-block clr-block-3">
        <div class="col-md-8 market-update-left">
          <h3>0</h3>
          <h4>Notification</h4>
        </div>
        <div class="col-md-4 market-update-right">
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
<br><br><br><br>
<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="panel panel-primary" style="margin-left:15%;">-->
<!--      <div class="panel-heading" style="text-align:center;">-->
<!--        <h6 class="panel-title">Recent Appointments For You</h6>-->
<!--      </div>-->
<!--      <table class="table table-hover" id="dev-table">-->
<!--        <thead>-->
<!--          <tr>-->
<!--            <th>Patient Name</th>-->
<!--            <th>Picture</th>-->
<!--            <th>Description</th>-->
<!--            <th>Mobile</th>-->
<!--            <th>Address</th>-->
<!--            <th>Date</th>-->
<!--          </tr>-->
<!--        </thead>-->
<!--        {% for a,p in appointments %}-->
<!--        <tr>-->
<!--          <td>{{a.patientName}}</td>-->
<!--          <td> <img src="{% static p.profile_pic.url %}" alt="Profile Pic" height="40px" width="40px" /></td>-->
<!--          <td>{{a.description}}</td>-->
<!--          <td>{{p.mobile}}</td>-->
<!--          <td>{{p.address}}</td>-->
<!--          <td>{{a.appointmentDate}}</td>-->
<!--        </tr>-->
<!--        {% endfor %}-->
<!--      </table>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

{% endblock content %}
