{% extends 'hr_base.html' %}
{% load static %}
{% block nav %}
<div class="bs-example">
      <nav class="navbar navbar-expand-md  navbar-dark fixed-top" style="background:#337AB7;">
        <a href="/hr-dashboard" class="navbar-brand">DASHBOARD</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <div class="navbar-nav" style=" margin-left: 75%;">
<img class="rounded-circle mt-1" src="/media/{{profile_pics.profile_pic}}" width="40" height="40"><span class="font-weight-bold">
            <h4 style="margin-left:5px; margin-top:6px; color:white; ">ID : {{user.username}}</h4>

<!--            <a href="/logout" class="nav-item nav-link">Logout</a>-->
          </div>
        </div>
      </nav>
    </div>
{% endblock nav %}
{% block content %}
{%include 'hr_dashboard_card.html'%}
<div class="market-updates">
    <div class="col-md-4 market-update-gd">
      <div class="market-update-block clr-block-1">
        <div class="col-md-8 market-update-left">
          <h3>{{employee}}</h3>
          <h4>Total Employee</h4>
        </div>
        <div class="col-md-4 market-update-right">
          <i class="fa fa-user-o"> </i>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="col-md-4 market-update-gd">
      <div class="market-update-block clr-block-2">
        <div class="col-md-8 market-update-left">
          <h3>{{deactivated_employee}}</h3>
          <h4>Deactivated Employee</h4>

        </div>
        <div class="col-md-4 market-update-right">
          <i class="fa fa-user-o"></i>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="col-md-4 market-update-gd">
      <div class="market-update-block clr-block-3">
        <div class="col-md-8 market-update-left">
          <h3>{{total_noti}}</h3>
          <h4>Notification</h4>
        </div>
        <div class="col-md-4 market-update-right">
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
<br><br><br><br>
<div class="row gutters-sm">
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Latest Notifications</th>



    </tr>
  </thead>
  <tbody>
  {% for i in notifications %}
    <tr>
      {% if i.type == "task_assigned" %}
      <td scope="row">Task : {{i.assigned_by}} ({{i.assigned_by.first_name}} {{i.assigned_by.last_name}}) Assigned to you : <a href="/task/{{i.task_id.id}}">{{i.task_id.task_subject}}</a>   <span class="badge badge-pill badge-danger" style="background-color:red">New</span></td>
      {% elif i.type == "task_comment" %}
      <td >Task : {{i.assigned_by}} ({{i.assigned_by.first_name}} {{i.assigned_by.last_name}}) Commented on Task : <a href="/task/{{i.task_id.id}}">{{i.task_id.task_subject}}</a>  <span class="badge badge-pill badge-danger" style="background-color:red">New</span></td></td>
      {% elif i.type == "task_complete" %}
      <td >Task : {{i.assigned_to}} ({{i.assigned_to.first_name}} {{i.assigned_to.last_name}}) completed Task : <a href="/task/{{i.task_id.id}}">{{i.task_id.task_subject}}</a>  <span class="badge badge-pill badge-danger" style="background-color:red">New</span></td></td>
      {% endif %}

    </tr>
    {% endfor %}
  {% for i in seen_notifications|slice:":5" %}
    <tr>
      {% if i.type == "task_assigned" %}
      <td scope="row">Task : {{i.assigned_by}} ({{i.assigned_by.first_name}} {{i.assigned_by.last_name}}) Assigned to you : <a href="/task/{{i.task_id.id}}">{{i.task_id.task_subject}}</a>  </td>
      {% elif i.type == "task_comment" %}
      <td >Task : {{i.assigned_by}} ({{i.assigned_by.first_name}} {{i.assigned_by.last_name}}) Commented on Task : <a href="/task/{{i.task_id.id}}">{{i.task_id.task_subject}}</a></td></td>
      {% elif i.type == "task_complete" %}
      <td >Task : {{i.assigned_to}} ({{i.assigned_to.first_name}} {{i.assigned_to.last_name}}) completed Task : <a href="/task/{{i.task_id.id}}">{{i.task_id.task_subject}}</a> </td></td>
      {% endif %}

    </tr><div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <canvas id="canvas" width="400" height="400"
style="margin-top:-100px">
</canvas>
                  </div>
                </div>
              </div>
    {% endfor %}
  </tbody>
</table>
                  </div>
                </div>

<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="panel panel-primary" style="margin-left:15%;">-->
<!--      <div class="panel-heading" style="text-align:center;">-->
<!--        <h6 class="panel-title">Recent Appointments For You</h6>-->
<!--      </div>-->
<!--      <table class="table table-hover" id="dev-table">-->
<!--        <thead>-->
<!--          <tr>-->
<!--            <th>Patient Name</th>-->
<!--            <th>Picture</th>-->
<!--            <th>Description</th>-->
<!--            <th>Mobile</th>-->
<!--            <th>Address</th>-->
<!--            <th>Date</th>-->
<!--          </tr>-->
<!--        </thead>-->
<!--        {% for a,p in appointments %}-->
<!--        <tr>-->
<!--          <td>{{a.patientName}}</td>-->
<!--          <td> <img src="{% static p.profile_pic.url %}" alt="Profile Pic" height="40px" width="40px" /></td>-->
<!--          <td>{{a.description}}</td>-->
<!--          <td>{{p.mobile}}</td>-->
<!--          <td>{{p.address}}</td>-->
<!--          <td>{{a.appointmentDate}}</td>-->
<!--        </tr>-->
<!--        {% endfor %}-->
<!--      </table>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<script>
var canvas = document.getElementById("canvas");
var ctx = canvas.getContext("2d");
var radius = canvas.height / 2;
ctx.translate(radius, radius);
radius = radius * 0.50
setInterval(drawClock, 1000);

function drawClock() {
  drawFace(ctx, radius);
  drawNumbers(ctx, radius);
  drawTime(ctx, radius);
}

function drawFace(ctx, radius) {
  var grad;
  ctx.beginPath();
  ctx.arc(0, 0, radius, 0, 2*Math.PI);
  ctx.fillStyle = 'white';
  ctx.fill();
  grad = ctx.createRadialGradient(0,0,radius*0.95, 0,0,radius*1.05);
  grad.addColorStop(0, '#333');
  grad.addColorStop(0.5, 'white');
  grad.addColorStop(1, '#333');
  ctx.strokeStyle = grad;
  ctx.lineWidth = radius*0.1;
  ctx.stroke();
  ctx.beginPath();
  ctx.arc(0, 0, radius*0.1, 0, 2*Math.PI);
  ctx.fillStyle = '#333';
  ctx.fill();
}

function drawNumbers(ctx, radius) {
  var ang;
  var num;
  ctx.font = radius*0.15 + "px arial";
  ctx.textBaseline="middle";
  ctx.textAlign="center";
  for(num = 1; num < 13; num++){
    ang = num * Math.PI / 6;
    ctx.rotate(ang);
    ctx.translate(0, -radius*0.85);
    ctx.rotate(-ang);
    ctx.fillText(num.toString(), 0, 0);
    ctx.rotate(ang);
    ctx.translate(0, radius*0.85);
    ctx.rotate(-ang);
  }
}

function drawTime(ctx, radius){
    var now = new Date();
    var hour = now.getHours();
    var minute = now.getMinutes();
    var second = now.getSeconds();
    //hour
    hour=hour%12;
    hour=(hour*Math.PI/6)+
    (minute*Math.PI/(6*60))+
    (second*Math.PI/(360*60));
    drawHand(ctx, hour, radius*0.5, radius*0.07);
    //minute
    minute=(minute*Math.PI/30)+(second*Math.PI/(30*60));
    drawHand(ctx, minute, radius*0.8, radius*0.07);
    // second
    second=(second*Math.PI/30);
    drawHand(ctx, second, radius*0.9, radius*0.02);
}

function drawHand(ctx, pos, length, width) {
    ctx.beginPath();
    ctx.lineWidth = width;
    ctx.lineCap = "round";
    ctx.moveTo(0,0);
    ctx.rotate(pos);
    ctx.lineTo(0, -length);
    ctx.stroke();
    ctx.rotate(-pos);
}
</script>
{% endblock content %}
