{% extends 'hr_base.html' %}
{% load static %}
{% block nav %}
<div class="bs-example">
      <nav class="navbar navbar-expand-md  navbar-dark fixed-top" style="background:#337AB7;">
        <a href="/hr-dashboard" class="navbar-brand">Profile</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <div class="navbar-nav" style=" margin-left: 75%;">
<img class="rounded-circle mt-1" src="/media/{{profile_pics.profile_pic}}" width="40" height="40"><span class="font-weight-bold">
            <h4 style="margin-left:5px; margin-top:6px; color:white; ">ID : {{user.username}}</h4>

<!--            <a href="/logout" class="nav-item nav-link">Logout</a>-->
          </div>
        </div>
      </nav>
    </div>
{% endblock nav %}
{% block content %}
{%include 'profile_body.html'%}
<div class="container" style="margin-top:-20px;">
    <div class="main-body">

          <!-- Breadcrumb -->
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/employee-dashboard">Dashboard</a></li>
              <li class="breadcrumb-item active" aria-current="page">Profile</li>
            </ol>
          </nav>
          <!-- /Breadcrumb -->

          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="/media/{{ personalinfo.profile_pic }}" alt="Admin" class="rounded-circle" width="150" height="150">
                    <div class="mt-3">
                        <h4>Emp ID : {{personalinfo.user}}</h4>
                      <p class="text-secondary mb-1">{{personalinfo.department}}</p>
                      <p class="text-muted font-size-sm">{{personalinfo.designation}}</p>
                      {% if user.username == slug %}<a href="/edit-company-info"> <button class="btn btn-primary">Edit </button></a>{%else%}&nbsp{%endif%}
                      <button class="btn btn-outline-primary">Message</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0"><b>Full Name</b></h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{personalinfo.user.first_name}} {{personalinfo.user.last_name}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0"><b>Email</b></h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{personalinfo.email}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0"><b>Mobile No</b></h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{personalinfo.mobile}}
                    </div>
                  </div>
                  <hr>

                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0"><b>Address</b></h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{personalinfo.address}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row gutters-sm">
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Personal Information</th>
      <th scope="col">&nbsp;</th>
      <th scope="col" style="float:right;">{% if user.username == slug %}<a href="/edit-personal-info"> <i class="fa fa-edit"></i></a>{% else %}
      &nbsp;{% endif %}</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">ADHAR No</th>
      <td>:</td>
      <td>{{employeeinfo.adhar_card_no}}</td>

    </tr>
    <tr>
      <th scope="row">Nationality</th>
      <td>:</td>
      <td>{{employeeinfo.nationality}}</td>

    </tr>
    <tr>
      <th scope="row">Religion</th>
      <td>:</td>
      <td>{{employeeinfo.religion}}</td>
    </tr>
  <tr>
      <th scope="row">Merital Status</th>
      <td>:</td>
      <td>{% if employeeinfo.marital_status == True %}Married {% else %}UnMarried {% endif %}</td>
    </tr>
  <tr>
      <th scope="row">Email</th>
      <td>:</td>
      <td>{{employeeinfo.email_id}}</td>
    </tr>
  <tr>
      <th scope="row">Contact</th>
      <td>:</td>
      <td>{{employeeinfo.contact_no}}</td>
    </tr>
  </tbody>
</table>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Emergency Contact</th>
      <th scope="col">&nbsp;</th>
      <th scope="col" style="float:right;">{% if user.username == slug %}<a href="/edit-personal-info"> <i class="fa fa-edit"></i></a>{% else %}&nbsp {%endif%}</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Name</th>
      <td>:</td>
      <td>{{employeeinfo.guardian_name}}</td>

    </tr>
    <tr>
      <th scope="row">Relationship</th>
      <td>:</td>
      <td>{{employeeinfo.relationship}}</td>

    </tr>
    <tr>
      <th scope="row">Contact_no</th>
      <td>:</td>
      <td>{{employeeinfo.guardian_contact}} </td>
    </tr>
  </tbody>
</table>
                  </div>
                </div>
              </div>
				<div class="row gutters-sm">
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Bank Details</th>
      <th scope="col">&nbsp;</th>
      <th scope="col" style="float:right;">{% if user.username == slug %}<a href="/edit-bank-info"> <i class="fa fa-edit"></i></a>{% else%}&nbsp{%endif%}</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Bank Name</th>
      <td>:</td>
      <td>{{bankinfo.bank_name}}</td>

    </tr>
    <tr>
      <th scope="row">Bank Account No</th>
      <td>:</td>
      <td>{{bankinfo.bank_acc_no}}</td>

    </tr>
    <tr>
      <th scope="row">IFSC CODE</th>
      <td>:</td>
      <td>{{bankinfo.bank_ifsc}}</td>
    </tr>
  <tr>
      <th scope="row">Pan No</th>
      <td>:</td>
      <td>{{bankinfo.pan_no}}</td>
    </tr>
  </tbody>
</table>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Education Details</th>
      <th scope="col">&nbsp;</th>
		<th scope="col" style="float:right;">{% if user.username == slug %}<a href="/edit-education-info"> <i class="fa fa-edit"></i></a>{%else%}&nbsp{%endif%}</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">institute Name</th>
      <td>:</td>
      <td>{{educationinfo.institute_name}}</td>

    </tr>
    <tr>
      <th scope="row">Course Name</th>
      <td>:</td>
      <td>{{educationinfo.course_name}}</td>

    </tr>
    <tr>
      <th scope="row">Duration</th>
      <td>:</td>
      <td>{{educationinfo.start_year}} - {{educationinfo.final_year}} </td>
    </tr>
  </tbody>
</table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>


{% endblock content %}
