{% extends 'hr_base.html' %}
{% block nav %}
<div class="bs-example">
      <nav class="navbar navbar-expand-md  navbar-dark fixed-top" style="background:#337AB7;">
        <a href="/hr-dashboard" class="navbar-brand">EMPLOYEE MANAGEMENT</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <div class="navbar-nav" style=" margin-left: 75%;">
<img class="rounded-circle mt-1" src="/media/{{profile_pics.profile_pic}}" width="40" height="40"><span class="font-weight-bold">
            <h4 style="margin-left:5px; margin-top:6px; color:white; ">ID : {{user.username}}</h4>

<!--            <a href="/logout" class="nav-item nav-link">Logout</a>-->
          </div>
        </div>
      </nav>
    </div>
{% endblock nav %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>
<!--
written By : sumit kumar
facebook : fb.com/sumit.luv
-->
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Your Total Employee List</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Emp_id</th>
          <th>Name</th>
          <th>Profile Picture</th>
          <th>Email</th>
          <th>Mobile</th>
          <th>Address</th>
          <th>Attendance</th>

        </tr>
      </thead>
      {% for p in hrs %}
      <tr>
        <td> <a href="/profile/{{p.user.username}}">{{p.user}}</a></td>
        <td> {{p.get_name}}</td>
        <td> <img src="/media/{{ p.profile_pic }}" alt="Profile Pic" height="40px" width="40px" /></td>
        <td>{{p.email}}</td>
        <td>{{p.mobile}}</td>
        <td>{{p.address}}</td>
        <td><a href="/attendance-download/{{p.user}}"><button type="submit" class="btn btn-info btn-block submit">Attendance</button></a></td>
      </tr>
      {% endfor %}
      {% for p in employees %}
      <tr>
        <td> <a href="/profile/{{p.user.username}}">{{p.user}}</a></td>
        <td> {{p.get_name}}</td>
        <td> <img src="/media/{{ p.profile_pic }}" alt="Profile Pic" height="40px" width="40px" /></td>
        <td>{{p.email}}</td>
        <td>{{p.mobile}}</td>
        <td>{{p.address}}</td>
        <td><a href="/attendance-download/{{p.user}}"> <button type="submit" class="btn btn-info btn-block submit">Attendance</button></a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>


{% endblock content %}
