{% extends is_hr|yesno:"hr_base.html,employee_base.html" %}

{% block nav %}
<div class="bs-example">
      <nav class="navbar navbar-expand-md  navbar-dark fixed-top" style="background:#337AB7;">
        <a href="" class="navbar-brand">MY TASKS</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <div class="navbar-nav" style=" margin-left: 75%;">
<img class="rounded-circle mt-1" src="/media/{{profile_pics.profile_pic}}" width="40" height="40"><span class="font-weight-bold">
            <h4 style="margin-left:5px; margin-top:6px; color:white; ">ID : {{user.username}}</h4>

<!--            <a href="/logout" class="nav-item nav-link">Logout</a>-->
          </div>
        </div>
      </nav>
    </div>
{% endblock nav %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>

<div class="container">
  <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">{% if is_hr %}<a href="/hr-dashboard">Dashboard</a>{% else %}<a href="/employee-dashboard">Dashboard</a>{% endif %}</li>
              <li class="breadcrumb-item "><a href="/task-view">Task-view</a></li>
              <li class="breadcrumb-item active" aria-current="page">merge-tasks</li>
            </ol>
          </nav>



  <br>
  <a href="/download-merged-task-report"><button type="button" class="btn btn-primary" style="float:right;">Merged Task Report</button></a>
  <br>
  <br>
  <div class="panel panel-primary">

    <div class="panel-heading">
      <h6 class="panel-title">{{request.user.username}}({{request.user.first_name}} {{user.last_name}}) Merged Tasks</h6>
    </div>
    <table class="table table-bordered" id="dev-table">
      <thead>
        <tr>
          <th>Task_ID</th>
           <th>Created By</th>
          <th>Assigned To</th>
          <th>ADD DATE</th>
          <th>TASK SUBJECT</th>
<!--          <th>DETAILS</th>-->
          <th>DUE DATE</th>
          <th>STATUS</th>
          <th>Follow</th>
          <th>Task Approval</th>

        </tr>
      </thead>
      {% for task in tasks%}
      <tr >
        <td >{{task.id}}</td>
        <td >{{task.created_by}} </td>
        <td >{{task.assigned_to}} </td>
        <td> {{task.created_at}}</td>
        <td>{{task.task_subject}}</td>
<!--        <td>{{task.task_detail}}</td>-->
        <td>{{task.due_date}}</td>
        <td>{% if task.status == None %}Pending {% else %}{% if task.completed %}{% if task.active %}Pending Approval{% else %}Completed {% endif %} {% else %}In Progress{% endif %}{% endif %}</td>
        <td ><a href="/task/{{task.id}}"><button type="submit" class="btn btn-default">Task Detail</button></a></td>
        <td >{% if task.created_by != request.user %}-{% else %}{% if task.active %}{% if task.completed %}<a href="/merge-task-approve/{{task.id}}"><button type="submit" class="btn btn-danger">Approve</button></a>
          {% else %}<button type="submit" class="btn btn-danger" disabled>Approve</button>{% endif %}
          {% else %}<button type="submit" class="btn btn-success" disabled>Approved</button>{% endif %} {% endif %}</td>
      </tr>


      {% endfor %}



    </table>
  </div>
</div>


{% endblock content %}
